.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.visible {
    visibility: visible
}
.collapse {
    visibility: collapse
}
.static {
    position: static
}
.absolute {
    position: absolute
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.mb-5 {
    margin-bottom: 1.25rem
}
.mb-0 {
    margin-bottom: 0px
}
.block {
    display: block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.table {
    display: table
}
.hidden {
    display: none
}
.w-full {
    width: 100%
}
.py-96 {
    padding-top: 24rem;
    padding-bottom: 24rem
}
.py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.text-center {
    text-align: center
}
.text-16 {
    font-size: 1rem;
    line-height: 1
}
.text-20 {
    font-size: 1.25rem;
    line-height: 1
}
.font-bold {
    font-weight: 700
}
.font-medium {
    font-weight: 500
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.leading-6 {
    line-height: 1.5rem
}
