.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.visible {
    visibility: visible
}
.collapse {
    visibility: collapse
}
.static {
    position: static
}
.absolute {
    position: absolute
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.mb-0 {
    margin-bottom: 0px
}
.mb-5 {
    margin-bottom: 1.25rem
}
.block {
    display: block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.table {
    display: table
}
.hidden {
    display: none
}
.w-full {
    width: 100%
}
.max-w-3xl {
    max-width: 48rem
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.content-center {
    align-content: center
}
.items-center {
    align-items: center
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
.py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.text-center {
    text-align: center
}
.text-16 {
    font-size: 1rem;
    line-height: 1
}
.text-20 {
    font-size: 1.25rem;
    line-height: 1
}
.font-bold {
    font-weight: 700
}
.font-medium {
    font-weight: 500
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.leading-6 {
    line-height: 1.5rem
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(26 24 24 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-blue {
        --tw-bg-opacity: 1;
        background-color: rgb(11 54 148 / var(--tw-bg-opacity))
    }
    .dark\:text-blue-light {
        --tw-text-opacity: 1;
        color: rgb(61 159 255 / var(--tw-text-opacity))
    }
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(245 245 245 / var(--tw-text-opacity))
    }
}
@media (min-width: 768px) {
    .md\:visible {
        visibility: visible
    }
    .md\:hidden {
        display: none
    }
}
@media (min-width: 1024px) {
    .lg\:px-0 {
        padding-left: 0px;
        padding-right: 0px
    }
}
.\[\&\.dark\]\:bg-blue.dark {
    --tw-bg-opacity: 1;
    background-color: rgb(11 54 148 / var(--tw-bg-opacity))
}
.\[\&\.dark\]\:text-white.dark {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
@media (prefers-color-scheme: dark) {
    .dark\:\[\&\>\*\]\:text-white>* {
        --tw-text-opacity: 1;
        color: rgb(245 245 245 / var(--tw-text-opacity))
    }
}
.\[\&\.dark\]\:\[\&\>\*\]\:text-white>*.dark {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&\>h2\]\:text-white>h2 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&\>h3\]\:text-white>h3 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&\>h3\]\:\!text-white>h3 {
    --tw-text-opacity: 1 !important;
    color: rgb(245 245 245 / var(--tw-text-opacity)) !important
}
.\[\&\>span\>h3\]\:text-white>span>h3 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&\>span\]\:text-white>span {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&_h3\]\:text-white h3 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
.\[\&_h3\]\:\!text-white h3 {
    --tw-text-opacity: 1 !important;
    color: rgb(245 245 245 / var(--tw-text-opacity)) !important
}
.\[\&\>span\]\:\[\&_h3\]\:\!text-white h3>span {
    --tw-text-opacity: 1 !important;
    color: rgb(245 245 245 / var(--tw-text-opacity)) !important
}
.\[\&h3\]\:text-whiteh3 {
    --tw-text-opacity: 1;
    color: rgb(245 245 245 / var(--tw-text-opacity))
}
