<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Session - email subscription preferences
  screenshotPath: ../../images/template-previews/subscriptions-preferences.png
-->
{% extends '../layouts/base.html' %}
{% block header %}
  {% global_partial path='./partials/header-landing-page.html' %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'subscription_preferences'
        path='@hubspot/email_subscriptions'
      %}
    </div>
  </section>
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path='./partials/footer-landing-page.html' %}
{% endblock footer %}
