<!--
  templateType: page
  isAvailableForNewContent: true
  label: Arival
  screenshotPath: ../images/template-previews/blank.png
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
<head>
  <meta charset="utf-8">
  <title>{{ page_meta.html_title }}</title>
  {% if site_settings.favicon_src %}
  <link rel="shortcut icon" href="{{ site_settings.favicon_src }}">
  {% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">

  {{ standard_header_includes }}
</head>

{% block body %}
<body>
  <div class="arival-2023">
    {% block body %}

    <!-- hardcoded template -->
    <h1> HELLO THERE </h1>
    {% endblock body %}

    {% block footer %}
    {% global_partial path='../partials/footer.html' %}
    {% endblock footer %}
  </div>
{{ standard_footer_includes }}
</body>
{% endblock body %}
