<!--
  templateType: page
  isAvailableForNewContent: true
  label: Dynamic Posts 01
  screenshotPath: ../images/template-previews/blank.png
-->
{% extends './layouts/base.html' %}


{% block body %}
<main class="body-container-wrapper">
  <table>
    {% set table_id = 5743446 %}
    {% for row in hubdb_table_rows(table_id) %}
    <tr>
      <td>{{ row.title }}</td>
      <td>{{ row.description }}</td>
      <td>{{ row.image.url }}</td>
    </tr>
    {% endfor %}
  </table>
</main>
{% endblock body %}