<!--
    templateType: page
    isAvailableForNewContent: true
    label: Simple
    screenshotPath: ../images/template-previews/blank.png
-->
{% extends './layouts/base.html' %}

{% block header %}
  {% global_partial path='./partials/header-landing-page.html' %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container">
     {% dnd_area 'dnd_area' class='body-container body-container--blank-page', label='Main section' %}
        {# Content Section #}
        {% dnd_section %}
          {% dnd_column %}
            {% dnd_row %}
              {% dnd_module path='@hubspot/rich_text' %}
              {% module_attribute 'html' %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm odo consequat. Uom ad minim veniam, quis nostrud exercitation.</p>
              {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_section %}
        {# End Content #}
      {% end_dnd_area %}
  </div>
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path='./partials/footer-landing-page.html' %}
{% endblock footer %}