/* Primary Button */

button,
.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00c6ab;
  border: 1px solid #00c6ab;
  border-radius: 80px;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  margin: 0 0 1.5rem;
  padding: 0.7rem 2.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

button:disabled,
.button:disabled,
.button.button--secondary:disabled,
.button.button--simple:disabled {
  border: 1px solid #d0d0d0;
  color: #e6e6e6;
  pointer-events: none;
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
}

.button.button--secondary:disabled {
  background-color: inherit;
}

.button.button--simple:disabled {
  background-color: inherit;
  border: inherit;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #009e83;
  border-color: #009e83;
  color: #fff;
  text-decoration: none;
}

button:active,
.button:active {
  background-color: #50eed3;
  border-color: #50eed3;
  color: #fff;
  text-decoration: none;
}

/* Secondary Button */

.button.button--secondary {
  background-color: transparent;
  border: 1px solid #00c6ab;
  color: #00c6ab;
  fill: #00c6ab;
}

.button.button--secondary:hover,
.button.button--secondary:focus {
  background-color: transparent;
  border-color: #009e83;
  color: #009e83;
  fill: #009e83;
}

.button.button--secondary:active {
  background-color: transparent;
  border-color: #50eed3;
  color: #50eed3;
  fill: #50eed3;
}

/* Simple Button */

.button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #00c6ab;
  fill: #00c6ab;
  font-size: 1rem;
  font-style: normal;
  padding: 0 !important;
  position: relative;
  text-decoration: none;
}

.button.button--simple:after {
  background-color: #00c6ab;
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus {
  background-color: transparent;
  border: none;
  color: #009e83;
}

.button.button--simple:active {
  background-color: transparent;
  border: none;
  color: #50eed3;
}

/* Button Sizing */

.button.button--small {
  font-size: 0.875rem;
}

.button.button--large {
  font-size: 1.125rem;
}

/* Button Icons */

.button .button__icon svg {
  display: block;
  fill: inherit;
  height: 1.25rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg {
  margin-left: 1rem;
  margin-right: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button .button__icon svg {
    width: 1.25rem;
  }
}