{% require_js %}

  {{ require_js(get_asset_url("/cognigy/js/theme.js"), { position: "footer", defer:true }) }}

{% end_require_js %}
<div class="accordion-wrapper-v2 accordion-{{ name }}">
  <div class="cognigy-accordion cognigy-accordion-v2">
    <div class="accordion-left accordion-half">
      {% for item in module.accordion_items %}

      <div class="accordion-group {{ module.layout_style }} {% if loop.first %}is-expanded{% endif %} {% if item.media.purpose %}is-video{% endif %}">

        {% if  item.icon.src %}
          <div class="icon">
            <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}">
          </div>
        {% endif %}

        <div class="content">
          <h3 class="heading accordion-menu accordion-menu-v2 mb-0">
            {% inline_text field="heading" value="{{ item.heading }}" %}
          </h3>
          <div class="description accordion-content accordion-content-v1">
            {% inline_text field="description" value="{{ item.description }}" %}

            {% if item.media.purpose == 'video' %}

            <div class="accordion-media md:hidden" data-bg="{{ item.headshot.src }}">
              <video preload autoplay loop muted preload="metadata" playsinline="" loop="" autoplay="" muted="">
                <source src="{{ item.media.file_field }}" type="video/mp4">
                <!-- Add more <source> elements for other video formats (WebM, Ogg, etc.) -->
              </video>
            </div>

            {% else %}

            {% if item.headshot.src %}
            {% set loadingAttr = item.headshot.loading != 'disabled' ? 'loading="disabled"' : '' %}
            <div class="accordion-media md:hidden" data-alt="{{ item.headshot.alt }}" data-bg="{{ item.headshot.src }}">
              <img src="{{ item.headshot.src }}" alt="{{ item.headshot.alt }}" {{ loadingAttr }} class="step-image-desktop">
            </div>
            {% else %}
            <div class="accordion-media md:hidden"  data-bg="{{ get_asset_url('../../images/default-accordion.png') }}">
              <img src="{{ get_asset_url('../../images/default-accordion.png') }}" alt="A default accordion image" />
            </div>
            {% endif %}

            {% endif %}


          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="accordion-right accordion-half">
      {% for item in module.accordion_items %}
      {% if loop.first %}

      {% if item.media.purpose == 'video' %}

      <div class="accordion-media " data-bg="{{ item.headshot.src }}">
        <video preload autoplay loop muted preload="metadata" playsinline="" loop="" autoplay="" muted="">
          <source src="{{ item.media.file_field }}" type="video/mp4">
          <!-- Add more <source> elements for other video formats (WebM, Ogg, etc.) -->
        </video>
      </div>

      {% else %}

      {% if item.headshot.src %}
      {% set sizeAttrs = 'width="{{ item.headshot.width }}" height="{{ item.headshot.height }}"' %}

      {% if item.headshot.size_type == 'auto' %}
      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif item.headshot.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ item.headshot.max_width }}" height="{{ item.headshot.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}

      {% set loadingAttr = item.headshot.loading != 'disabled' ? 'loading="disabled"' : '' %}
      <div class="accordion-media" data-alt="{{ item.headshot.alt }}" data-bg="{{ item.headshot.src }}">
        <img src="{{ item.headshot.src }}" alt="{{ item.headshot.alt }}" {{ loadingAttr }} class="step-image-desktop">
      </div>
      {% else %}
      <div class="accordion-media" lazy="disabled"  data-bg="{{ get_asset_url('../../images/default-accordion.png') }}">
        <img src="{{ get_asset_url('../../images/default-accordion.png') }}" alt="A default accordion image" />
      </div>
      {% endif %}

      {% endif %}
      {% endif %}
      {% endfor %}

    </div>
  </div>

  <img
          class="accordion-bg-dots-v2 bg-circle-dots"
          src="https://140456632.fs1.hubspotusercontent-eu1.net/hubfs/140456632/effect-circle-dots.png" >
</div>
