
.post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22%;
  flex-basis: 22%;
  padding: 1%;
  margin-bottom: 2%;
  padding-bottom: 32px;
  font-weight: 300;
}
.post h1 {
  font-weight: 500;
  font-size: 21px;
  margin-top: 10px;
}
.post img {
  border-radius: 8px;
}
.post div p:first-child {
  margin-top: 0;
}
.post .more {
  position: absolute;
  bottom: 12px;
  text-decoration: none;
  color: #e6552d;
}
.post .more:hover {
  text-decoration: underline;
}
.post-list::after {
  content: '';
  display: flex;
  flex-direction: column;
  width: 22%;
  flex-basis: 22%;
}

@media (max-width: 769px) {
  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 47%;
    flex-basis: 47%;
    padding: 1%;
    margin-bottom: 2%;
    padding-bottom: 32px;
    font-weight: 300;
  }
}
